pages: # the job must be named pages
  image: node:latest
  stage: deploy
  script:
    - npm install --progress=false
    - npm run build
    #- mkdir public # GitLab Pages hooks on the public folder
    - mv dist public # rename the dist folder (result of npm run build)
  artifacts:
    paths:
      - public # artifact path must be /public for GitLab Pages to pick it up
  only:
    - master
